@page
@model ScryfallApi.WebSample.Pages.SetsModel
@{

    <ul>
        @foreach (var block in Model.MtgExpansions.GroupBy(s => s.Block).OrderByDescending(b => b.Min(s => s.ReleaseDate)))
        {
            <li>@block.Key
                <ul>
                    @foreach (var set in block.Where(s => s is not null).OrderByDescending(s => s.ReleaseDate))
                    {
                        <li>@set.Name (@set.Code) - @set.ReleaseDate.ToString()</li>
                    }
                </ul>
            </li>
        }
    </ul>
}
